* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Colors */
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--lightGray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.qr-card {
  max-width: 350px;
  background-color: var(--white);
  padding: 1.2rem 1.2rem 2rem;
  border-radius: 20px;
  text-align: center;
  margin: 1rem;
}

.qr-card img {
  width: 100%;
  border-radius: 10px;
}

.qr-details {
  padding: 10px;
}

.qr-card h1 {
  margin-block: 1rem;
  color: var(--darkBlue);
}

.qr-card p {
  font-size: 1rem;
  color: var(--grayishBlue);
  line-height: 22px;
}
